body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	font-size: 30px;
	font-weight: 700;
	line-height: 34.5px;
	margin: 0;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
