.register-form__greeting {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	width: 727px;
	margin: 88px 0;
	& span {
		color: #666666;
	}
}

.register-form__user-name {
	font-size: 30px;
	font-weight: 700;
	line-height: 34.5px;
	margin: 0;
	color: black;
	background: transparent;
	border: none;
	&:focus {
		outline: none;
	}
}

.status {
	padding: 0;
	font-weight: 400;
	font-size: 12px;
	line-height: 22px;
	width: 88px;
	color: #0c77bb;
	background: none;
	border: none;
	text-decoration-style: dashed;
	text-decoration-line: underline;
	text-underline-offset: 2px;
	cursor: pointer;
	align-self: flex-end;
}
.status-tooltip {
	position: absolute;
	width: 503px;
	height: 53px;
	left: 224px;
	top: 47px;
	background-color: #eaeaea;
	& ::before {
		position: absolute;
		content: "";
		width: 11px;
		height: 11px;
		left: 9px;
		top: -6px;

		background: #eaeaea;
		transform: rotate(45deg);
	}
}

.status-tooltip__message {
	padding-left: 10px;
}
